.body {
    
}

nav {
    display:block;
}

.nav-brand {
    text-align:center !important;
    display:block !important;
    width:100% !important;
}

.block {
    display: block;
}

.text-center {
    text-align:center;
}

.content {
    padding: 20px;
}

.login {
    margin-top:20px;
}

.nav-pills {
    
}

.nav-pills .nav-item  {
    width:48%;
    margin-right:10px;
    border: thin solid #eee;
    color:#fff;
    padding:10px 5px;
    text-align:center;
    margin-bottom:20px;
    background:#007bff;
    border-radius:5px;
}

.nav-pills .nav-item:nth-child(even) {
    margin-right:0px;
}

.nav-pills .nav-item a {
    color: white;
    font-size:20px;
    font-weight:700;
}

.pull-right {
    float:right;
}

.bottom {
    position: absolute;
    bottom: 20px;
    width:90%;
    margin: 0px;
    margin-left:0px;
}